:root {
  --main-text-color: #2f3035;
  --active-link-color: #8d7cbf;
  --card-border-color: #cdcdcd;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  margin: 0 auto;
  width: 60vw;
}

