.categoryItem {
  background-color: #fff;
  border: 1px solid #ececec;
  color: #333333;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
}

.categoryItem:first-of-type {
  border-radius: 3px 3px 0 0;
}

.categoryItem:last-of-type {
  border-radius: 0 0 3px 3px;
}

.categoryItem > span {
  font-size: 2vh;
}

.categoryItem > img {
  margin: 0.4vw;
}