.item {
  border: 1px solid var(--card-border-color);
  border-radius: 25px;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--main-text-color);
  height: 8vh;
}

.item > span {
  padding: 0 0.5vw;
  font-size: 1.5vh;
  text-align: left;
  word-wrap: normal;
  font-weight: 700;
}

.item > img {
  padding: 1vh 0.5vw;
}

.active {
  border-color: transparent;
  color: var(--active-link-color);
  box-shadow: 3px 3px 20px rgba(50, 50, 50, 0.25);
}